src/main/mule/mule-github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f1f13f3a-4197-4cd2-b211-4518ae2e4ffd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="c713f4a7-ced0-4421-b489-48bc2ac63728" file="secure.properties" key="${secure.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="mule-github-actionsFlow" doc:id="79129887-3405-4015-a7d7-d5ee98cd7572" >
		<http:listener doc:name="Listener" doc:id="9263ecf1-505b-4a30-82e1-dea65e7b02d1" config-ref="HTTP_Listener_config" path="/action"/>
		<set-payload value="This is a response from Github Action" doc:name="Set Payload" doc:id="e41ccdf0-5439-482f-8931-775d01db7a51" />
		<logger level="INFO" doc:name="Logger" doc:id="3d557319-8f2c-4c29-8a2d-d7928f8568c8" message="#[Mule::p('secure::encrypted.property')]"/>
	</flow>
</mule>
